@model EmailMarketing.Web.Areas.Member.Models.Contacts.AddSingleContactModel
@{
    ViewData["Title"] = "AddSingleContact";
}



<!-- Content area -->
<div class="content">
    <div class="pb-3">
        <h4 class="d-inline">Add Contact</h4>
        <a asp-controller="Contacts" asp-action="Index" asp-area="Member" class="btn bg-primary float-right"><i class="icon-list2"></i> <span class="font-weight-semibold">  Contact List</span></a>
    </div>
    <div class="card">
        <!-- navigation -->
        <!-- /navigation -->
        <partial name="_ActionMessage" model="@Model.Response" />
        <div class="card-body">
            <form id="addContactForm" asp-area="Member" asp-controller="Contacts" asp-action="AddSingleContact" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="pl-2 pr-3">
                            <h4>Provide Contact Details</h4>
                            @Html.AntiForgeryToken()
                            <div class="form-group row">
                                <label asp-for="Email" class="col-sm-3 col-form-label required">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" asp-for="Email">
                                    <span asp-validation-for="Email"></span>
                                </div>
                            </div>

                            <!-- Standard Fields -->
                            <div class="row-fluid summary pb-4">
                                <span>Standard Fields</span>
                                <a class="btn border border-primary float-right" data-toggle="collapse" data-target="#intro" id="showHide">Show</a>
                            </div>
                            <div class="row-fluid summary">
                                <div id="intro" class="collapse">

                                    @{
                                        for (int i = 0; i < Model.ContactValueMapsStandard.Count(); i++)
                                        {
                                            <div class="form-group row">
                                                <label asp-for="@Model.ContactValueMapsStandard[i].Input" class="col-sm-3 col-form-label">@Model.ContactValueMapsStandard[i].Text</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" value="@Model.ContactValueMapsStandard[i].Input" name="ContactValueMapsStandard[@i].Input">
                                                    <input type="hidden" class="form-control" value="@Model.ContactValueMapsStandard[i].Value" name="ContactValueMapsStandard[@i].Value">
                                                    <input type="hidden" class="form-control" value="@Model.ContactValueMapsStandard[i].Text" name="ContactValueMapsStandard[@i].Text">
                                                </div>
                                            </div>
                                        }
                                    }



                                    @*@if (Model.ContactValueMaps[i].Text.Contains("mail") == false)
                            {
                                <label asp-for="@Model.ContactValueMaps[i].Input" class="col-sm-3 col-form-label">@Model.ContactValueMaps[i].Text</label>
                                <div class="col-sm-9">

                                    <input type="text" class="form-control" value="@Model.ContactValueMaps[i].Input" name="ContactValueMaps[@i].Input">
                                    <input type="hidden" class="form-control" value="@Model.ContactValueMaps[i].Value" name="ContactValueMaps[@i].Value">
                                </div>
                            }
                            else if (@Model.ContactValueMaps[i].Text.Contains("Gender") || @Model.ContactValueMaps[i].Text.Contains("gender"))
                            {
                                <label asp-for="@Model.ContactValueMaps[i].Input" class="col-sm-3 col-form-label">@Model.ContactValueMaps[i].Text</label>
                                <div class="col-sm-9">
                                    <select asp-for="@Model.ContactValueMaps[i].Input" class="form-control">

                                        <option value="">--- Select Gender ---</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>

                                    </select>
                                </div>
                            }
                            else if (@Model.ContactValueMaps[i].Text.Contains("Date") || @Model.ContactValueMaps[i].Text.Contains("DOB") || @Model.ContactValueMaps[i].Text.Contains("Birth"))
                            {
                                <label asp-for="@Model.ContactValueMaps[i].Input" class="col-sm-3 col-form-label">@Model.ContactValueMaps[i].Text</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" asp-for="@Model.ContactValueMaps[i].Input">
                                </div>
                            }*@

                                    @*}
                                }
                            }*@

                                </div>
                            </div>

                            <!-- Custom Fields -->

                            <div class="row-fluid summary pb-4">
                                <span>Custom Fields</span>
                                <a class="btn border border-primary float-right" data-toggle="collapse" data-target="#intro2" id="showHideCustom">Show</a>
                            </div>
                            <div class="row-fluid summary">
                                <div id="intro2" class="collapse">
                                    @{
                                        for (int i = 0; i < Model.ContactValueMapsCustom.Count(); i++)
                                        {

                                            <div class="form-group row">




                                                @*@if (@Model.ContactValueMapsCustom[i].Text.Contains("date") || @Model.ContactValueMapsCustom[i].Text.Contains("Date") || @Model.ContactValueMapsCustom[i].Text.Contains("DOB") || @Model.ContactValueMapsCustom[i].Text.Contains("Birth"))
                                        {
                                            <label asp-for="@Model.ContactValueMapsCustom[i].Input" class="col-sm-3 col-form-label">@Model.ContactValueMapsCustom[i].Text</label>
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" value="@Model.ContactValueMapsCustom[i].Input" name="ContactValueMapsCustom[@i].Input">
                                                <input type="hidden" class="form-control" value="@Model.ContactValueMapsCustom[i].Value" name="ContactValueMapsCustom[@i].Value">

                                            </div>
                                        }
                                        else if (@Model.ContactValueMapsCustom[i].Text.Contains("Gender") || @Model.ContactValueMapsCustom[i].Text.Contains("gender"))
                                        {
                                            <label asp-for="@Model.ContactValueMapsCustom[i].Input" class="col-sm-3 col-form-label">@Model.ContactValueMapsCustom[i].Text</label>
                                            <div class="col-sm-9">
                                                <select asp-for="@Model.ContactValueMapsCustom[i].Input" class="form-control">

                                                    <option value="">--- Select Gender ---</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>

                                                </select>
                                            </div>
                                        }*@


                                                <label asp-for="@Model.ContactValueMapsCustom[i].Input" class="col-sm-3 col-form-label">@Model.ContactValueMapsCustom[i].Text</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" value="@Model.ContactValueMapsCustom[i].Input" name="ContactValueMapsCustom[@i].Input">
                                                    <input type="hidden" class="form-control" value="@Model.ContactValueMapsCustom[i].Value" name="ContactValueMapsCustom[@i].Value">

                                                </div>


                                            </div>

                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3>Where do you want to add this contract?</h3>

                        @*<form id="form2" asp-area="Member" asp-action="AddSingleContact" asp-controller="Contacts" method="post">*@

                        <!-- selected -->
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkAll">
                            <label class="form-check-label" for="checkAll">Select All Groups</label>
                        </div>

                        <div class="bg-white">
                            <p class="p-2">
                                <i class="icon-collaboration"></i>&nbsp;&nbsp; <span id="selected">No Group Selected</span>
                                @*<span asp-validation-for="@Model.GroupSelectList"></span>*@

                            </p>
                        </div>

                        <div class="bg-white">
                            <ul class="list-group">
                                @{
                                    for (int i = 0; i < Model.GroupSelectList.Count(); i++)
                                    {
                                        <li class="list-group-item border-bottom">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input group-select" id="checkSingle[@i]" value="@Model.GroupSelectList[i].IsChecked.ToString().ToLower()" name="GroupSelectList[@i].IsChecked">
                                                <input type="hidden" class="form-control" asp-for="@Model.GroupSelectList[i].Value">
                                                <input type="hidden" class="form-control" asp-for="@Model.GroupSelectList[i].Text">

                                                @*<input type="hidden" class="form-control" value="@Model.GroupSelectList[i].Count" name="GroupSelectList[@i].Count">
                                        <input type="hidden" class="form-control" value="@Model.GroupSelectList[i].Input" name="GroupSelectList[@i].Input">
                                        <input type="hidden" class="form-control" value="@Model.GroupSelectList[i].Text" name="GroupSelectList[@i].Text">*@


                                                <label class="form-check-label" for="checkSingle[@i]">
                                                    @Model.GroupSelectList[i].Text
                                                    <span class="border p-1">
                                                        <span>@Model.GroupSelectList[i].Count</span>&nbsp;&nbsp;
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                </label> &nbsp;&nbsp;
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <!-- /selected -->
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between">
                        <a asp-controller="Contacts" asp-action="Index" asp-area="Member" class="btn btn-light"><i class="icon-arrow-left52"></i> Back</a>
                        <button id="btnsubmit" class="btn btn-primary"><i class="icon-file-check2"></i> Save</button>
                    </div>
                </div>
            </form>

        </div>


    </div>
</div>


<!-- /content area -->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
@section Scripts{
    <script>
        
        $(function () {

            $('#checkAll').click(function (event) {
                if (this.checked) {
                    // Iterate each checkbox
                    $(':checkbox.group-select').each(function () {
                        this.checked = true;
                        $(this).val(this.checked);
                    });
                } else {
                    $(':checkbox.group-select').each(function () {
                        this.checked = false;
                        $(this).val(this.checked);
                    });
                }
            });

            //$("#checkAll").click(function () {
            //    $('input:checkbox.group-select').not(this).prop('checked', this.checked);
            //});

            $('.group-select').change(function () {
                var val = this.checked;
                $(this).val(val);
            });


            var selectedElm = document.getElementById('selected');
            function showChecked() {
                var count = document.querySelectorAll('input.group-select:checked').length;
                if (count == 1) selectedElm.innerHTML = "1 Group Selected";
                else if (count > 1) selectedElm.innerHTML = count+" Groups Selected";
                else selectedElm.innerHTML = "No Group Selected";
            }
            document.querySelectorAll("input").forEach(i => {
                i.onclick = () => showChecked();
            });


        });


        //Count selected List

        



    </script>
}