@model ContactExportModel
@using EmailMarketing.Membership.Extensions
@{
    ViewData["Title"] = "Export";
    var loggedInUserEmail = User.Identity.Email();
}


<div class="content">
    <div class="pb-3">
        <h4 class="d-inline"><a class="text-black-50" asp-area="Member" asp-controller="Dashboard" asp-action="Index"><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</span></a></h4>
        <a asp-area="Member" asp-controller="Contacts" asp-action="Index" class="btn bg-primary float-right"><i class="icon-list mr-2"></i> <span class="font-weight-semibold">Contact List</span></a>
    </div>

    <div class="row">

        <div class="col-md-6 m-auto text-center">
            <h3 class="mb-1 pb-0">Export Your Contacts</h3>
            <partial name="_ActionMessage" model="@Model.Response" />
            @*<h5 class="pt-0 mt-0">If everything looks good, click 'Confirm Upload' below.</h5>*@


            <div class="bg-white text-left p-3 mb-3">

                <form asp-action="Export" asp-controller="Contacts" asp-area="Member" method="post">
                    <div class="pb-3">
                        <div class="dropdown-item form-check form-check-switchery ">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-input-switchery" asp-for="IsSendEmailNotifyForAll" checked>
                                <span class="font-weight-bold">Send file via email once export is complete</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-md-3 col-form-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Enter Email" asp-for="SendEmailAddress" value="@loggedInUserEmail">
                                <p class="pt-1">[You can send to multiple email by comma separating email.]</p>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="IsExportAll" value="true" />
                    <div class="text-center">
                        <button class="btn btn-primary"><i class="icon-file-download2 text-white"> Export All Contacts</i></button>
                    </div>
                </form>
            </div>
            <h5 class="text-center">Or</h5>
            <div class="bg-white text-left p-3 mt-3">
                <div class="pb-3">

                    <form asp-action="Export" asp-controller="Contacts" asp-area="Member" method="post">
                        <div class="pb-3">
                            <div class="dropdown-item form-check form-check-switchery ">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-input-switchery" asp-for="IsSendEmailNotifyForGroupwise" checked>
                                    <span class="font-weight-bold">Send file via email once export is complete</span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-md-3 col-form-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Enter Email" asp-for="SendEmailAddress" value="@loggedInUserEmail">
                                    <p class="pt-1">[You can send to multiple email by comma separating email.]</p>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <h5 class="card-title">Select Groupwise</h5>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkAll">
                                <label class="form-check-label" for="checkAll">Select All Groups</label>
                            </div>

                            <div class="bg-white">
                                <p class="p-2">
                                    <i class="icon-collaboration"></i>&nbsp;&nbsp; <span id="selected">No</span> <span>Group</span> Selected
                                    @*<span asp-validation-for="@Model.GroupSelectList"></span>*@
                                </p>
                            </div>



                            <ul class="list-group">
                                @for (int i = 0; i < Model.GroupSelectList.Count(); i++)
                                {
                                    <li class="list-group-item border-bottom">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input group-select" id="checkSingle[@i]" value="@Model.GroupSelectList[i].IsChecked.ToString().ToLower()" name="GroupSelectList[@i].IsChecked">
                                            <input type="hidden" class="form-control" asp-for="@Model.GroupSelectList[i].Value">
                                            <input type="hidden" class="form-control" asp-for="@Model.GroupSelectList[i].Text">

                                            <label class="form-check-label" for="checkSingle[@i]">
                                                @Model.GroupSelectList[i].Text
                                                <span class="border p-1">
                                                    <span>@Model.GroupSelectList[i].Count</span>&nbsp;&nbsp;
                                                    <i class="fas fa-user"></i>
                                                </span>
                                            </label> &nbsp;&nbsp;
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary m-2"><i class="icon-file-download2 text-white"> Export Selected Group</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script>

    $('#checkAll').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox.group-select').each(function () {
                this.checked = true;
                $(this).val(this.checked);
            });
        } else {
            $(':checkbox.group-select').each(function () {
                this.checked = false;
                $(this).val(this.checked);
            });
        }
    });


    $(document).ready(function () {
        $('.group-select').change(function () {
            var val = this.checked;
            $(this).val(val);
        });
        $('.form-input-switchery').change(function () {
            var val = this.checked;
            $(this).val(val);
        });
    });

    var selectedElm = document.getElementById('selected');
    function showChecked() {
        var count = document.querySelectorAll('input.group-select:checked').length;
        if (count > 0) selectedElm.innerHTML = count;
        else selectedElm.innerHTML = "No";
    }
    document.querySelectorAll("input").forEach(i => {
        i.onclick = () => showChecked();
    });
</script>
