@model EmailMarketing.Web.Areas.Member.Models.Contacts.ContactsModel

@{
    ViewData["Title"] = "Contacts";
}


<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">

        <div class="row">
            <div class="col-12">
                <div class="pb-3">
                    <h4 class="d-inline">Contact List</h4>
                    <div class="dropdown float-right">
                        <a href="#" class="list-icons-item bg-primary text-white p-2 rounded" data-toggle="dropdown">
                            <i class="icon-menu9"></i> <span>Upload/Add Contact</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a asp-area="Member" asp-controller="ContactUpload" asp-action="UploadContact" class="dropdown-item text-primary"><i class="icon-file-upload2"></i>Upload Contracts</a>
                            <a asp-area="Member" asp-controller="Contacts" asp-action="AddSingleContact" class="dropdown-item text-primary"><i class="icon-plus-circle2"></i>Add Contract</a>
                        </div>
                    </div>
                    @*<a asp-area="Member" asp-controller="Contacts" asp-action="UploadContacts" class="btn btn-primary float-right">
                <i class="icon-file-upload2"></i> Upload Contracts
            </a>*@
                </div>
            </div>
        </div>

        <!-- Basic datatable -->
        <div class="card">
            <div>
                <partial name="_ActionMessage" model="@Model.Response" />
            </div>

            <table class="table datatable-basic" id="contact-table">
                <thead>
                    <tr>
                        <th>Group</th>
                        <th>Email</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /basic datatable -->
    </div>
    <!-- /content area -->
</div>
<!-- /main content -->

<!-- Delete modal -->
<div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Delete</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p>Are you sure want to delete?</p>
                <form id="deleteForm" action="@Url.Action("Delete", "Contacts", new { Area = "Member" })" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deleteId" value="" name="id" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" id="deleteButton" class="btn bg-danger">Yes, Delete!</button>
            </div>
        </div>
    </div>
</div>
<!-- /Delete modal -->

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/ajax-call.js"></script>
    <script src="~/js/project/contact.js"></script>

    <script>
        $(function () {
            var url = '@Url.Action("GetContacts", "Contacts", new { Area = "Member" })';
            var editUrl = '@Url.Action("EditContact", "Contacts", new { Area = "Member" })';
            var contactDetailsUrl = '@Url.Action("ContactDetails", "Contacts", new { Area = "Member" })';
            loadDatatable(url, editUrl, contactDetailsUrl);

            //Delete User
            $('#modal-delete').on('show.bs.modal', function (e) {
                var id = $(e.relatedTarget).attr('data-id');
                var modal = $("#modal-delete");
                modal.find('.modal-body p').text('Are you sure want to delete this record?')
                $("#deleteId").val(id);
                modal.modal('show');
            })
            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });
        });
    </script>
}
