@model DashboardModel
@{
    ViewData["Title"] = "Index";
}

<!-- Content area -->
<div class="content">
    <div class="user_welcome">
        <h3 class="user_welcome_title">Dashboard</h3>
        <p class="text-muted">User Summary</p>
    </div>
    <div class="content-main">

        <div class="row">
            <div class="col-12">
                <div class="card text-center card-box-shadow">
                    <div class="card-body">
                        <i class="icon-users4 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                        <h5 class="card-title">View Members</h5>
                        <p class="mb-3">You can see Member list which is in your database</p>
                        <a asp-controller="MemberUsers" asp-action="Index" asp-area="Admin" class="btn bg-success-400"><i class="icon-eye"></i> View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-box-shadow">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icon-users4 icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                            </div>

                            <div class="media-body">
                                <h3 class="font-weight-bold mb-0 pb-0">@Model.TotalUser</h3>
                                <h4 class="font-weight-bold mt-0 pt-0">Total Users</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-box-shadow">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icon-users2 icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                            </div>

                            <div class="media-body">
                                <h3 class="font-weight-bold mb-0 pb-0">@Model.TotalGroups</h3>
                                <h4 class="font-weight-bold mt-0 pt-0">Total Groups</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-box-shadow">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icon-envelop5 icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                            </div>

                            <div class="media-body">
                                <h3 class="font-weight-bold mb-0 pb-0">@Model.TotalMailSent</h3>
                                <h4 class="font-weight-bold mt-0 pt-0">Total Mail Send</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-box-shadow">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icon-paperplane icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                            </div>

                            <div class="media-body">
                                <h3 class="font-weight-bold mb-0 pb-0">@Model.TotalCampaigns</h3>
                                <h4 class="font-weight-bold mt-0 pt-0">Total Campaigns</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-box-shadow">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <i class="icon-paperplane icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                            </div>

                            <div class="media-body">
                                <h3 class="font-weight-bold mb-0 pb-0">@Model.TotalContacts</h3>
                                <h4 class="font-weight-bold mt-0 pt-0">Total Contacts</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /content area -->

