@model EmailMarketing.Web.Areas.Member.Models.Contacts.CreateContactUploadModel
@using EmailMarketing.Membership.Extensions

@{
    ViewData["Title"] = "Upload Contacts";
    var loggedInUserEmail = User.Identity.Email();
}

<!-- Content area -->
<div class="content">

    <div class="pb-3">
        <h2 class="d-inline">Upload Contacts</h2>
    </div>

    <!-- navigation -->
    <div class="container">
        <div id="stepProgressBar">
            <div class="step">
                <div class="bullet current"><i class="icon-checkmark-circle icon-2x"></i></div>
                <p class="step-text">Upload Contacts</p>
            </div>
            <div class="step">
                <div class="bullet "><i class="icon-checkmark-circle icon-2x"></i></div>
                <p class="step-text">Map Fields</p>
            </div>
            <div class="step">
                <div class="bullet"><i class="icon-checkmark-circle icon-2x"></i></div>
                <p class="step-text">Choose Actions</p>
            </div>
            <div class="step">
                <div class="bullet"><i class="icon-checkmark-circle icon-2x"></i></div>
                <p class="step-text">Review & Confirm</p>
            </div>
            <div class="step">
                <div class="bullet"><i class="icon-checkmark-circle icon-2x"></i></div>
                <p class="step-text">Complete Upload</p>
            </div>
        </div>

        <div>
            <partial name="_ActionMessage" model="@Model.Response" />
        </div>

        <form action="UploadContact" method="post" enctype="multipart/form-data" id="submitForm">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>

            <div id="main">
                <div id="uploadContacts">
                    <div class="row">
                        <div class="col-md-8">
                            <input id="uploadFile" type="file" asp-for="ContactFile" />
                            <div class="card p-5 card-border-dotted" id="uploadFileDiv">
                                <div class="text-center p-5">
                                    <h4>
                                        Browse your computer and select a file to upload.
                                    </h4>
                                    <p class="text-muted" id="uploadFileName">Recommended file formats: .xls, .xlsx</p>
                                    @*<a href="" class="btn btn-primary" id="uploadFileBtn"> <i class="icon-upload4"></i> Upload</a>*@
                                </div>
                            </div>
                            <div class="pt-3">
                                <div class="form-group">
                                    <div class="form-check form-check-inline form-check-switchery">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-input-switchery" checked data-fouc asp-for="HasColumnHeader" id="hasColumnHeader">
                                            Column Headers
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-12">
                                <div class="card p-2">
                                    <h6 class="font-weight-bold">Helpful Tips:</h6>
                                    <ul>
                                        <li>Need help formatting? Download a sample file <a href="~/memberTheme/assets/ContactExcelDemo.xlsx" download>here</a> and add your contacts. Once you save the file, you can upload it on the left.</li>
                                        <li>For importing larger files, we recommend using xlsx for best performance.</li>
                                        <li>Date fields must be in MM/DD/YYYY format.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card p-2">
                                    <h6 class="font-weight-bold">More Resources:</h6>
                                    <ul>
                                        <li><a asp-area="Member" asp-controller="Resources" asp-action="ImportContact" target="_blank">How to Upload Contacts</a></li>
                                        <li><a asp-area="Member" asp-controller="Resources" asp-action="HelpfulTips" target="_blank">Helpful Tips</a></li>
                                        <li><a asp-area="Member" asp-controller="Resources" asp-action="CreateXlsxFile" target="_blank">Create a xlsx File</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mapFields">
                    <div class="scrollmenu bg-field-map">
                        <table id="mapFieldTable" class="table table-sm">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <h5 class="text-muted">Preview: Showing <span id="showRowCount">0</span> rows out of <span id="allRowCount">0</span></h5>
                </div>
                <div id="chooseActions">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Where you want to add these contacts?</h3>

                            <div class="">
                                <div class="form-group">
                                    <div class="form-check form-check-inline form-check-switchery">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-input-switchery" data-fouc asp-for="IsUpdateExisting">
                                            Update Existing Contacts
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <!-- selected -->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="selectAllGroups">
                                <label class="form-check-label" for="selectAllGroups">Select All Groups</label>
                            </div>
                            <div class="bg-white">
                                <p class="p-2">
                                    <i class="icon-collaboration mr-1"></i><span id="showSelectedGroups">No Group Selected</span>
                                </p>
                            </div>

                            <div class="bg-white">
                                <ul class="list-group" id="groupDropdown">
                                    @*<li class="list-group-item border-bottom">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="groupcheck_2">
                                                <label class="form-check-label" for="groupcheck_2"> test test
                                                    <span class="border p-1">
                                                        <span>2</span>&nbsp;&nbsp;
                                                        <i class="fas fa-user fa-xs"></i>
                                                    </span>
                                                </label>
                                            </div>
                                        </li>*@
                                </ul>
                            </div>
                            <!-- /selected -->

                        </div>

                        <div class="col-md-6">
                            @*<div class="pt-5 pl-5">
                                    <h3>For Create Group goto "Groups > Add Group"</h3>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div id="reviewConfirm">
                    <div class="row">
                        <div class="col-md-6 m-auto text-center">
                            <h3 class="mb-0 pb-0">Almost done! Review your upload below.</h3>
                            <h5 class="pt-0 mt-0">If everything looks good, click 'Confirm Upload' below.</h5>
                            <div class="bg-white text-left pl-3">
                                <h3 class="pt-3">
                                    Contact Upload Summary
                                </h3>
                                <div class="pb-3">
                                    <div class="w-25 d-inline-block">
                                        <span class="font-weight-bold">File Name</span>
                                    </div>
                                    <div class="w-75 d-inline">
                                        <span id="reviewFileName">FileName.xlsx</span>
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <div class="w-25 d-inline-block">
                                        <span class="font-weight-bold">Contacts Detected</span>
                                    </div>
                                    <div class="w-75 d-inline">
                                        <span id="reviewAllRowCount">0</span>
                                    </div>
                                </div>
                                <div class="pb-3">
                                    <div class="w-25 d-inline-block">
                                        <span class="font-weight-bold">Groups</span>
                                    </div>
                                    <div class="w-75 d-inline">
                                        <span id="reviewSelectedGroups">None</span>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-white text-left p-3 mt-3">
                                <div class="pb-3">
                                    <div class="dropdown-item form-check form-check-switchery ">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-input-switchery" checked data-fouc asp-for="IsSendEmailNotify">
                                            <span class="font-weight-bold">Send email notification once upload is complete</span>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-md-3 col-form-label">Email</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="inputEmail" placeholder="Enter Email" asp-for="SendEmailAddress" value="@loggedInUserEmail">
                                            <p class="pt-1">[You can send to multiple email by comma separating email.]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center pt-3">
                    <button type="button" class="btn btn-primary" id="previousBtn" disabled>Previous</button>
                    <button type="button" class="btn btn-primary" id="nextBtn" disabled>Next</button>
                    <button type="submit" class="btn btn-primary" id="finishBtn" disabled>Confirm Upload</button>
                </div>
            </div>

        </form>

    </div>
    <!-- /navigation -->
</div>
<!-- /content area -->
<!-- /main content -->
<!-- Done modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Completed Upload</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body-text">
                    <div class="text-center p-3 text-success"><i class="icon-rocket icon-5x"></i></div>
                    <p>Congrats! <span>14</span> contacts are currently being processed! This could take a few minutes .In the meantime you can continue working in DevSkill Email marketting.</p>
                </div>
            </div>
            <div class="modal-footer">
                <a asp-area="Member" asp-controller="Contacts" asp-action="ManageUploads" class="btn btn-primary"> <i class="icon-checkmark4"></i> Done</a>
            </div>
        </div>
    </div>
</div>
<!-- /Done modal -->

@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>*@
    <script src="~/js/jszip.js"></script>
    <script src="~/js/xlsx.js"></script>
    <script src="~/js/ajax-call.js"></script>
    <script src="~/memberTheme/js/memberContactUpload.js"></script>
    <script>
        $(function () {
            var url1 = '@Url.Action("GetAllFieldMaps", "ContactUpload", new { Area = "Member" })';
            ajaxCall(url1, null, 'renderGetAllFieldMapsForUploadContact', 'POST');

            @*var url2 = '@Url.Action("GetAllGroups", "ContactUpload", new { Area = "Member" })';
            ajaxCall(url2, null, 'renderGetAllGroupsForUploadContact', 'POST');*@
        });

        function callGroupFromServer() {
            var url2 = '@Url.Action("GetAllGroups", "ContactUpload", new { Area = "Member" })';
            ajaxCall(url2, null, 'renderGetAllGroupsForUploadContact', 'POST');
        }
    </script>
}

@section Styles{
    <link href="~/memberTheme/css/memberContactUpload.css" rel="stylesheet" type="text/css">
}