@model ViewContactUploadModel
@{
    ViewData["Title"] = "ViewUploadContact";
}


<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="pb-3">
                    <h4 class="d-inline">Upload Contact Details</h4>
                    <a asp-area="Member" asp-controller="ContactUpload" asp-action="Index" class="btn btn-primary float-right"> <i class="icon-list mr-2"></i>Contact Upload List</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Basic datatable -->
                <div class="card">
                    <div class="card-body">
                        <partial name="_ActionMessage" model="@Model.Response" />
                    </div>
                    <!-- Page header -->
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-borderless">
                                <tr>
                                    <td class="col-3 float-left"><h7>File Name : </h7></td>
                                    <td class="col-9 float-left"><h7>@Model.FileName</h7></td>
                                </tr>
                                <tr>
                                    <td class="col-3 float-left"><h7>Processing Status:  </h7></td>
                                    <td class="col-9 float-left"><h7>@Model.IsProcessing</h7></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-6">
                            <table class="table table-borderless">
                                <tr>
                                    <td class="col-3 float-left"><h7>Created At </h7></td>
                                    <td class="col-9 float-left"><h7>@Model.Created</h7></td>
                                </tr>

                                <tr>
                                    <td class="col-3 float-left"><h7>Succed Entry: </h7></td>
                                    <td class="col-9 float-left"><h7>@Model.SucceedEntryCount</h7></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /page header -->
                    <hr />
                    <input type="hidden" id="userId" value="@Model.ContactUploadId" />
                    <table class="table" id="campaign-table">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Contact Email</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /basic datatable -->
            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
<!-- /main content -->

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/ajax-call.js"></script>
    <script src="~/js/project/viewcontactupload.js"></script>
    <script>
        $(function () {
            //var id = $('#id').val();
            var url = '@Url.Action("GetAllContact", "ContactUpload", new { Area = "Member", contactUploadId = Model.ContactUploadId })';
            loadDatatable(url);
        });
    </script>
}


