@model ProfileInformationModel

@{
    ViewData["Title"] = "Profile";
}


<div class="content-wrapper">
    <div class="content">
        <div class="col-md-12" data-select2-id="49">

            <!-- Basic layout-->
            <div class="card" data-select2-id="48">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title"><b>Profile Information</b></h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <table class="table">

                                <tr>
                                    <td class="col-4 float-left"><h5>Full Name : </h5></td>
                                    @if (@Model.FullName == null)
                                    {
                                        <td class="col-8 float-left"><h5>Not Set</h5></td>
                                    }
                                    else
                                    {
                                        <td class="col-8 float-left"><h5>@Model.FullName</h5></td>
                                    }
                                </tr>
                                <tr>
                                    <td class="col-4 float-left"><h5>Email : </h5></td>
                                    @if (@Model.Email == null)
                                    {
                                        <td class="col-8 float-left"><h5>Not Set</h5></td>
                                    }
                                    else
                                    {
                                        <td class="col-8 float-left"><h5>@Model.Email</h5></td>
                                    }
                                </tr>
                                <tr>
                                    <td class="col-4 float-left"><h5>Date of Birth : </h5></td>
                                    @if (@Model.DateOfBirth == null)
                                    {
                                        <td class="col-8 float-left"><h5>Not Set</h5></td>
                                    }
                                    else
                                    {
                                        <td class="col-8 float-left"><h5>@Model.DateOfBirth</h5></td>
                                    }
                                </tr>
                            </table>
                        </div>

                        <div class="col-6">
                            <table class="table">
                                <tr>
                                    <td class="col-4 float-left"><h5>Gender : </h5></td>
                                    @if (@Model.Gender == null)
                                    {
                                        <td class="col-8 float-left"><h5>Not Set</h5></td>
                                    }
                                    else
                                    {
                                        <td class="col-8 float-left"><h5>@Model.Gender</h5></td>
                                    }
                                </tr>
                                
                                <tr>
                                    <td class="col-4 float-left"><h5>Phone Number : </h5></td>
                                    @if (@Model.PhoneNumber == null)
                                    {
                                        <td class="col-8 float-left"><h5>Not Set</h5></td>
                                    }
                                    else
                                    {
                                        <td class="col-8 float-left"><h5>@Model.PhoneNumber</h5></td>
                                    }
                                </tr>
                                <tr>
                                    <td class="col-4 float-left"><h5>Address : </h5></td>
                                    @if (@Model.Address == null)
                                    {
                                        <td class="col-8 float-left"><h5>Not Set</h5></td>
                                    }
                                    else
                                    {
                                        <td class="col-8 float-left">
                                            <h5>
                                                <pre>@Model.Address</pre>
                                            </h5>
                                        </td>
                                    }
                                </tr>
                            </table>
                        </div>
                    </div>


                    <!--Back & Edit Button-->
                    <div>

                        <div class="d-flex justify-content-between">
                            <a asp-area="Member" asp-controller="Dashboard" asp-action="Index" class="btn btn-light"><i class="icon-arrow-left52"></i> Back</a>
                            <a asp-area="Member" asp-controller="Profile" asp-action="UpdateInformation" class="btn btn-primary ml-2"><i class="icon-pencil7"></i> Edit</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

