@model CampaignsModel
@{
    ViewData["Title"] = "Index";
}
    <link href="~/memberTheme/css/campaign-details.css" rel="stylesheet" />
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="pb-3">
                    <h4 class="d-inline">Campaign Delevery Report</h4>
                    <a asp-area="Member" asp-controller="Campaigns" asp-action="Index" class="btn btn-primary float-right"> <i class="icon-list mr-2"></i> Campaign List</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Basic datatable -->
                <div class="card">
                    <div class="card-body">
                        <partial name="_ActionMessage" model="@Model.Response" />
                    </div>
                    <!-- Page header -->
                    <div class="row">
                        <div class="col-5">
                            <table class="table table-borderless">
                                <tr>
                                    <td class="col-5 float-left"><h7>Campaign Name : </h7></td>
                                    <td class="col-7 float-left"><h7>@Model.CampaignName</h7></td>
                                </tr>
                                <tr>
                                    <td class="col-5 float-left"><h7>Sender Email:  </h7></td>
                                    <td class="col-7 float-left"><h7>@Model.SenderEmail</h7></td>
                                </tr>
                                <tr>
                                    <td class="col-5 float-left"><h7>Campaign Description:  </h7></td>
                                    <td class="col-7 float-left"><h7>@Model.Description</h7></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-3">
                            <table class="table table-borderless">
                                <tr>
                                    <td class="col-6 float-left"><h7>Sender Name: </h7></td>
                                    <td class="col-6 float-left"><h7>@Model.SenderName</h7></td>
                                </tr>
                                <tr>
                                    <td class="col-6 float-left"><h7>Email Subject: </h7></td>
                                    <td class="col-6 float-left"><h7>@Model.EmailSubject</h7></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4">
                            <div class="preview">
                                <div class="card custom_template_card card-box-shadow">
                                    <div class="card-body custom_card_body">
                                        <div class="template_body">
                                            @Html.Raw(Model.EmailTemplate.EmailTemplateBody)
                                        </div>
                                        <span class="d-none template_title">@Model.EmailTemplate.EmailTemplateName</span>
                                        <div class="overlay">
                                            <a class="mr-2 mt-2 selected_template_preview text-info" data-toggle="modal" data-target="#templatebody">
                                                <i class="fa fa-2x fa-eye" data-toggle="tooltip" data-placement="top" title="View"></i>
                                            </a>
                                        </div>
                                        <div class="overlay_title text-center">
                                            <div class="text-center">
                                                <p class="text-white text-center mt-1">@Model.EmailTemplate.EmailTemplateName</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /page header -->
                    <hr />
                    <input type="hidden" id="campaignId" value="@Model.CampaignId" />
                    <table class="table" id="campaign-table">
                        <thead>
                            <tr>
                                <th>Contact Email</th>
                                <th>Delivered</th>
                                <th>Seen</th>
                                <th>Seen Date Time</th>
                                <th>Send Date Time</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- /basic datatable -->
            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
<!-- /main content -->
<!-- Template Modal -->
<div class="modal fade" id="templatebody" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@Model.EmailTemplate.EmailTemplateName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Raw(Model.EmailTemplate.EmailTemplateBody)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /Template Modal -->

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/ajax-call.js"></script>
    <script src="~/js/project/campaignreport.js"></script>
    <script>
        $(function () {
            var campaignId = $('#campaignId').val();
            var url = '@Url.Action("ViewDeleveryReport", "Campaigns", new { Area = "Member", campaignId = Model.CampaignId })';
            loadDatatable(url);
        });
    </script>
}
