@model AdminInformationModel
@{
    ViewData["Title"] = "UserInformation";
}

<!-- Content area -->
<div class="content">
    <div class="pb-3">
        <h4 class="d-inline">Admin Information</h4>
        <a asp-controller="AdminUsers" asp-action="Index" asp-area="Admin" class="btn btn-labeled btn-labeled-right bg-primary float-right"><i class="icon-list mr-2"></i> <span class="font-weight-semibold">Admin List</span></a>
    </div>
    <div class="row">
        <div class="col-12 m-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <table class="table">
                                @*<tr>
                                <td class="col-4 float-left"><h5>User Name: </h5></td>
                                <td class="col-8 float-left"><h5>@Model.UserName</h5></td>
                            </tr>*@
                                <tr>
                                    <td class="col-4 float-left"><h5>Full Name : </h5></td>
                                    <td class="col-8 float-left"><h5>@Model.FullName</h5></td>
                                </tr>
                                <tr>
                                    <td class="col-4 float-left"><h5>Email : </h5></td>
                                    <td class="col-8 float-left"><h5>@Model.Email</h5></td>
                                </tr>
                                <tr>
                                    <td class="col-4 float-left"><h5>Email Confirmed: </h5></td>
                                    @if (@Model.EmailConfirmed == true)
                                    {
                                        <td class="col-8 float-left"><h5>Yes</h5></td>
                                    }
                                    else
                                    {
                                        <td class="col-8 float-left"><h5>No</h5></td>
                                    }

                                </tr>
                                <tr>
                                    <td class="col-4 float-left"><h5>Phone Number : </h5></td>
                                    <td class="col-8 float-left"><h5>@Model.PhoneNumber</h5></td>
                                </tr>
                                @*<tr>
                                <td class="col-4 float-left"><h5>Phone Number Confirmed: </h5></td>
                                @if (@Model.PhoneNumberConfirmed == true)
                                {
                                    <td class="col-8 float-left"><h5>Yes</h5></td>
                                }
                                else
                                {
                                    <td class="col-8 float-left"><h5>No</h5></td>
                                }
                            </tr>*@

                            </table>
                        </div>
                        <div class="col-6">
                            <table class="table">

                                <tr>
                                    <td class="col-4 float-left"><h5>Gender : </h5></td>
                                    <td class="col-8 float-left"><h5>@Model.Gender</h5></td>
                                </tr>
                                <tr>
                                    <td class="col-4 float-left"><h5>Date of Birth : </h5></td>
                                    <td class="col-8 float-left"><h5>@Model.DateOfBirth</h5></td>
                                </tr>

                                @*<tr>
                                <td class="col-4 float-left"><h5>Active : </h5></td>
                                @if (@Model.IsActive == true)
                                {
                                    <td class="col-8 float-left"><h5>Yes</h5></td>
                                }
                                else
                                {
                                    <td class="col-8 float-left"><h5>No</h5></td>
                                }

                            </tr>*@
                                @*<tr>
                                <td class="col-4 float-left"><h5>Deleted : </h5></td>
                                @if (@Model.IsDeleted == true)
                                {
                                    <td class="col-8 float-left"><h5>Yes</h5></td>
                                }
                                else
                                {
                                    <td class="col-8 float-left"><h5>No</h5></td>
                                }
                            </tr>*@
                                <tr>
                                    <td class="col-4 float-left"><h5>Blocked : </h5></td>
                                    @if (@Model.IsBlocked == true)
                                    {
                                        <td class="col-8 float-left"><h5>Yes</h5></td>
                                    }
                                    else
                                    {
                                        <td class="col-8 float-left"><h5>No</h5></td>
                                    }
                                </tr>
                                <tr>
                                    <td class="col-4 float-left"><h5>Address : </h5></td>
                                    <td class="col-8 float-left">
                                        <h5>
                                            <pre>@Model.Address</pre>
                                        </h5>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="d-flex justify-content-between">
                            <a asp-controller="AdminUsers" asp-action="Index" asp-area="Admin" class="btn btn-light"><i class="icon-arrow-left52"></i> Back</a>
                            <a asp-route-id="@Model.Id" asp-controller="AdminUsers" asp-action="Edit" asp-area="Admin" class="btn btn-primary ml-2"><i class="icon-pencil7"></i> Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Content area -->
