@{
    ViewData["Title"] = "View SMTP";
}

<!-- Content area -->
<div class="content">
    <div class="pb-3">
        <h4 class="d-inline">SMTP List</h4>
        <a asp-controller="SMTP" asp-action="Add" asp-area="Member" class="btn bg-primary float-right"><i class="icon-plus-circle2 mr-2"></i> <span class="font-weight-semibold">Add New SMTP</span></a>
    </div>
    <!-- Basic datatable -->
    <div class="card">
        <div class="card-body">
            <partial name="_ActionMessage" model="@Model.Response" />
        </div>
        <table class="table" id="group-table">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Port</th>
                    <th>Sender Name</th>
                    <th>Sender Email</th>
                    <th>User Name</th>
                    <th>Enable SSL</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /basic datatable -->
</div>

<!-- Active/InActive SMTP Settings modal -->
<div id="modal-active" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"><span id="activeSmtpTitle">Activate SMTP Setting</span></h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p>Are you sure want to <span id="activeSmtpSure">Activate SMTP Setting?</span>?</p>
                <form id="activeSmtpForm" action="@Url.Action("ActivateSmtp", "SMTP", new { Area = "Member" })" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="activeSmtpId" value="" name="id" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" id="activeButton" class="btn bg-danger">Yes, <span id="activeSmtpButton">Activate</span>!</button>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/project/smtp.js"></script>
    <script src="~/js/ajax-call.js"></script>

    <script>
        $(function () {
            var url = '@Url.Action("GetSMTP", "SMTP", new { Area = "Member" })';
            var editUrl = '@Url.Action("Edit", "SMTP", new { Area = "Member" })';
            loadDatatable(url, editUrl);

            //Activate SMTP Settings
            $('#modal-active').on('show.bs.modal', function (e) {
                var id = $(e.relatedTarget).attr('data-id');
                var title = $(e.relatedTarget).attr('data-title');
                var modal = $("#modal-active");
                $("#activeSmtpId").val(id);
                $("#activeSmtpTitle").text(title == 'Yes' ? 'Deactivate SMTP Setting' : 'Activate SMTP Setting');
                $("#activeSmtpSure").text(title == 'Yes' ? 'Deactivate SMTP Setting' : 'Activate SMTP Setting');
                $("#activeSmtpButton").text(title == 'Yes' ? 'Deactivate' : 'Activate');
                console.log(title);
                modal.modal('show');
            })
            $("#activeButton").click(function () {
                $("#activeSmtpForm").submit();
            });
        });
    </script>
}