@model AdminBaseModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - EmailMarketing</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/theme/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/adminTheme/css/admin_home.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>

<body>

    <!-- Main navbar -->
    <partial name="_NavBarPartial" />
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <partial name="_SideBarPartial" model="@Model.MenuModel" />
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">

            @RenderBody()

            <!-- Footer -->
            <partial name="_FooterPartial" />
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
    <!-- Core JS files -->
    <script src="~/theme/global_assets/js/main/jquery.min.js"></script>
    <script src="~/theme/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/theme/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/theme/global_assets/js/plugins/notifications/noty.min.js"></script>
    <script src="~/theme/assets/js/app.js"></script>
    <!-- /theme JS files -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ 'placement': 'bottom' })
        })
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    @if (TempData["ErrorNotify"] != null)
    {
        <script>
            new Noty({
                text: '@TempData["ErrorNotify"].ToString()',
                type: 'error',
                modal: true,
                theme: ' alert alert-danger alert-styled-left p-0',
                closeWith: ['button']
            }).show();
        </script>
    }
    @if (TempData["SuccessNotify"] != null)
    {
        <script>
            new Noty({
                text: '@TempData["SuccessNotify"].ToString()',
                type: 'success',
                theme: ' alert alert-success alert-styled-left p-0',
                closeWith: ['button']
            }).show();
        </script>
    }
    @if (TempData["InfoNotify"] != null)
    {
        <script>
            new Noty({
                text: '@TempData["InfoNotify"].ToString()',
                type: 'info',
                theme: ' alert alert-info alert-styled-left p-0',
                closeWith: ['button']
            }).show();
        </script>
    }
</body>
</html>

