
@model DashboardModel
﻿@using EmailMarketing.Membership.Extensions

@{
    ViewData["Title"] = "Index";
}
@{
    var fullName = User.Identity.FullName();
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <div class="user_welcome">
            <span class="user_welcome_title">Welcome back, @fullName</span>
            <p class="user_welcome_subtitle text-muted">Let's quick Start</p>
        </div>
        <div class="content-main">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-12">

                            <div class="card text-center card-box-shadow">
                                <div class="card-body">
                                    <i class="icon-paperplane icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                    <h5 class="card-title">Campaigns</h5>
                                    <p class="mb-3">You can see your campaign list which you added previously or add campaign</p>
                                    <a asp-controller="Campaigns" asp-action="Index" asp-area="Member" class="btn bg-success-400"><i class="icon-eye"></i> View Campaigns</a>
                                    <a asp-controller="Campaigns" asp-action="AddCampaign" asp-area="Member" class="btn bg-success-400"><i class="icon-plus-circle2"></i> Add Campaign</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="row">
                                <div class="col-5">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-list2 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">View Your contacts</h5>
                                            <p class="mb-3">View your contact List</p>
                                            <a asp-controller="Contacts" asp-action="Index" asp-area="Member" class="btn bg-success-400"><i class="icon-eye"></i> View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-upload4 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">Upload/Add Contact</h5>
                                            <p class="mb-3">Upload your contacts from exel sheet or add single contact</p>
                                            <a asp-controller="ContactUpload" asp-action="UploadContact" asp-area="Member" class="btn bg-success-400"><i class="icon-upload4"></i> Upload Contacts</a>
                                            <a asp-controller="Contacts" asp-action="AddSingleContact" asp-area="Member" class="btn bg-success-400"><i class="icon-plus-circle2"></i> Add Contact</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">

                            <div class="row mb-3">
                                <div class="col-6">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-file-download2 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">Export Campaign Report</h5>
                                            <a asp-controller="Campaigns" asp-action="ViewReport" asp-area="Member" class="btn bg-success-400"><i class="icon-download7"></i> Export</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-vcard icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">Export Contacts</h5>
                                            <a asp-controller="Contacts" asp-action="Export" asp-area="Member" class="btn bg-success-400"><i class="icon-download7"></i> Export</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <div class="row">
                                <div class="col-5">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-mail-read icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">SMTP</h5>
                                            <p class="mb-3">View or Add SMTP</p>
                                            <a asp-controller="SMTP" asp-action="Index" asp-area="Member" class="btn bg-success-400"><i class="icon-eye"></i> View</a>
                                            <a asp-controller="SMTP" asp-action="Add" asp-area="Member" class="btn bg-success-400"><i class="icon-plus-circle2"></i> Add</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="card text-center card-box-shadow">
                                        <div class="card-body">
                                            <i class="icon-stack4 icon-2x text-primary border-primary border-3 rounded-round p-3 mb-3"></i>
                                            <h5 class="card-title">Email Template</h5>
                                            <p class="mb-3">You can view or add template</p>
                                            <a asp-controller="EmailTemplate" asp-action="ViewEmailTemplates" asp-area="Member" class="btn bg-success-400"><i class="icon-eye"></i> View</a>
                                            <a asp-controller="EmailTemplate" asp-action="AddEmailTemplate" asp-area="Member" class="btn bg-success-400"><i class="icon-plus-circle2"></i> Create</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-md-5">


                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="card card-body bg-lignt text-dark text-center user_free_trial card-box-shadow m-0 p-0 pt-3">

                                <div class="d-inline-block mb-1">
                                    <img src="~/memberTheme/images/dummy-profile.png" class="rounded-round" width="110" height="110" alt="" />
                                </div>

                                <div class="mb-3">
                                    <h5 class="font-weight-semibold mb-0 mt-1">
                                        @fullName
                                    </h5>
                                    <span class="d-block py-3">29 days left in your trial.</span>
                                </div>



                                <ul class="list-inline mb-0">
                                    <li>
                                        <a asp-area="Member" asp-controller="UpgrateMembership" asp-action="Index" class="btn btn-primary">Upgrate</a>
                                    </li>
                                </ul>
                                <img src="~/memberTheme/images/wave.png" alt="" class="w-100 img-fluid m-0 p-0">
                            </div>
                        </div>
                    </div>



                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="card card-box-shadow">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="mr-3">
                                            <i class="icon-users4 icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                                        </div>

                                        <div class="media-body">
                                            <h3 class="font-weight-bold mb-0 pb-0">@Model.TotalContacts</h3>
                                            <h4 class="font-weight-bold mt-0 pt-0">Contacts</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card card-box-shadow">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="mr-3">
                                            <i class="icon-collaboration icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                                        </div>

                                        <div class="media-body">
                                            <h3 class="font-weight-bold mb-0 pb-0">@Model.TotalGroups</h3>
                                            <h4 class="font-weight-bold mt-0 pt-0">Groups</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="card card-box-shadow">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="mr-3">
                                            <i class="icon-paperplane icon-2x text-primary border-primary border-3 rounded-round p-3"></i>
                                        </div>

                                        <div class="media-body">
                                            <h3 class="font-weight-bold mb-0 pb-0">@Model.TotalCampaigns</h3>
                                            <h4 class="font-weight-bold mt-0 pt-0">Campaigns</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="card card-box-shadow">
                                <div class="card-body">
                                    <div class="media">
                                        <div class="mr-3">
                                            <a href="#">
                                                <img src="~/memberTheme/images/hand-shake.png" class="rounded-circle" width="70" height="50" alt="">
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <h4>Contact with @Configuration.GetSection("AppSettings")["CompanyFullName"] support</h4>
                                            <a href="#" class="font-weight-semibold text-default">
                                                <span><i class="icon-phone-wave"></i> @Configuration.GetSection("AppSettings")["CompanyPhoneNo"]</span>
                                            </a><br />
                                            <a href="#" class="font-weight-semibold text-default">
                                                <span><i class="icon-mail5"></i> @Configuration.GetSection("AppSettings")["CompanyEmail"]</span>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /content area -->
</div>
<!-- /main content -->
